<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='clients/styles.css') }}">
</head>
<body>
    <!-- Barra de navegación -->
    <header class="navbar">
        <button onclick="showSection('inicio')">Inicio</button>
        <button onclick="showSection('chat')">Chat</button>
        <button onclick="showSection('pagos')">Pagos</button>
        <button onclick="showSection('llave')">Llave</button>
        <button onclick="showSection('historial')">Historial</button>
        <button onclick="window.location.href='{{ url_for('clients.logout') }}';">Cerrar Sesión</button>
    </header>

    <!-- Contenido -->
    <div class="container">
        <!-- Columna izquierda -->
        <aside class="sidebar">
            <h2>Código Asociado</h2>
            <p>{{ client.access_code }}</p>
            
            <h2>Foto del Cliente</h2>
            <div class="photo-container">
                <img src="{{ url_for('static', filename='uploads/' + client.photo) }}" alt="Foto del Cliente" class="client-photo">
            </div>
            
            <h3>Fotos del Cliente</h3>
            <div id="additional-photos">
                {% if additional_photos %}
                    {% for photo in additional_photos %}
                        <div class="photo-container">
                            <img src="{{ url_for('static', filename='uploads/' + photo.filename) }}" alt="Foto adicional" class="photo-img">
                            
                            <!-- Formulario para eliminar la foto -->
                            <form action="{{ url_for('clients.delete_photo') }}" method="POST" class="delete-photo-form" onsubmit="return confirm('¿Estás seguro de eliminar esta foto?');">
                                <!-- Campo oculto para el token CSRF -->
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                
                                <!-- Campo oculto para el photo_id -->
                                <input type="hidden" name="photo_id" value="{{ photo.id }}">
                                
                                <button type="submit" class="delete-photo-btn">Borrar</button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No hay fotos adicionales.</p>
                {% endif %}
            </div>
            
    
            <form action="{{ url_for('clients.add_photo') }}" method="POST" enctype="multipart/form-data" class="upload-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="file" name="photo" accept="image/*" class="file-input">
                <button type="submit" class="upload-btn">Subir Foto</button>
            </form>
        </aside>
        
        
        
        <!-- Contenido principal -->
        <main class="content">
            <section id="inicio">
                <h2>Detalles del Apartamento</h2>
                <p>ID: {{ apartment.id }}</p>
                <p>Tamaño: {{ apartment.size }}</p>
                <p>Precio: ${{ apartment.price }}</p>
                <h3>Piso</h3>
                <p>{{ floor.name }}</p>
                <h3>Edificio</h3>
                <p>{{ building.name }}</p>
                <p>Dirección: {{ building.address }}</p>
                <p>Ciudad: {{ building.city }}</p>
                <p>País: {{ building.country }}</p>
            </section>

            <!-- Chat -->
            <section id="chat">
                <h2>Chat</h2>
                <div id="chat-box">
                    {% for message in chat_messages %}
                    <div class="chat-message {{ 'admin' if message.sender_type == 'admin' else 'client' }}">
                        <strong>{{ 'Administrador' if message.sender_type == 'admin' else 'Tú' }}:</strong>
                        <p>{{ message.content }}</p>
                        {% if message.media %}
                        {% if message.media.endswith(('png', 'jpg', 'jpeg', 'gif', 'heic', 'heif')) %}
                        <!-- Mostrar imagen -->
                        <img src="{{ url_for('static', filename='uploads/' + message.media) }}" alt="Archivo multimedia" class="media-preview">
                        {% elif message.media.endswith(('mp4', 'mov', 'avi', 'ogg')) %}
                        <!-- Mostrar video -->
                        <video controls class="media-preview">
                            <source src="{{ url_for('static', filename='uploads/' + message.media) }}" type="video/mp4">
                            Tu navegador no soporta la reproducción de video.
                        </video>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                </div>
                <form id="message-form" action="/clients/send_message" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <textarea id="messageInput" name="content" placeholder="Escribe un mensaje (opcional)..."></textarea>
                    <input type="file" name="media" accept="image/*,video/*">
                    <button type="submit">Enviar</button>
                </form>
                
                

                <form id="clear-chat-form" method="POST" action="{{ url_for('clients.clear_chat') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" id="clear-chat-button">Limpiar Chat</button>
                </form>
                <!-- Botón para refrescar la página -->
                <button type="button" onclick="location.reload();" class="refresh-btn">Refrescar Chat</button>

                
            </section>

            <!-- Pagos -->
            <section id="pagos" style="display: none;">
                <h2>Pagos</h2>
                <p>Envía tu comprobante de pago aquí.</p>
                <form action="{{ url_for('clients.send_payment') }}" method="POST" enctype="multipart/form-data" class="payment-form">
                    <input type="file" name="payment_receipt" accept="image/*" required>
                    <button type="submit">Enviar Comprobante</button>
                </form>
                <div id="payment-history">
                    <h3>Historial de Pagos</h3>
                    {% for payment in payments %}
                        <div class="payment-item">
                            <p><strong>Fecha:</strong> {{ payment.timestamp }}</p>
                            <p><strong>Código Asociado:</strong> {{ payment.access_code }}</p>
                            <img src="{{ url_for('static', filename='uploads/payments/' + payment.receipt) }}" alt="Comprobante de pago">
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section id="llave" style="display: none;">
                <h2>Llave</h2>
                <p>Envía comandos al sistema para abrir la puerta.</p>
                <button onclick="sendMqttCommand('abrir')">Abrir</button>
                <button onclick="sendMqttCommand('cerrar')">Cerrar</button>
            </section>

            <section id="historial" style="display: none;">
                <h2>Historial</h2>
            </section>
        </main>
    </div>

    <script>
        function selectPhoto(photoId) {
            // Establecer el ID de la foto seleccionada en el formulario oculto
            document.getElementById('selected-photo-id').value = photoId;
        
            // Resaltar la foto seleccionada
            const photos = document.querySelectorAll('.photo-thumbnail');
            photos.forEach(photo => photo.classList.remove('selected'));
        
            const selectedPhoto = document.getElementById(`photo-${photoId}`);
            selectedPhoto.classList.add('selected');
        
            // Habilitar el botón de eliminar
            document.getElementById('delete-button').disabled = false;
        }
        function sendMqttCommand(action) {
            fetch('/send-command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ action, code: "{{ client.access_code }}" })
            }).then(response => {
                if (response.ok) {
                    alert('Comando enviado con éxito.');
                } else {
                    alert('Error al enviar el comando.');
                }
            });
        }

        function showSection(sectionId) {
            const sections = document.querySelectorAll('.content section');
            sections.forEach(section => section.style.display = 'none');
            document.getElementById(sectionId).style.display = 'block';
        }

        // Inicializar socket.io
        var socket = io();

        socket.on('connect', function() {
            socket.emit('join', {'client_id': {{ client.id }}});
        });
    
        // Enviar mensaje
        document.getElementById('message-form').addEventListener('submit', function(e) {
            e.preventDefault();
    
            const content = document.getElementById('messageInput').value.trim();
            const mediaInput = document.querySelector('input[name="media"]');
            const mediaFile = mediaInput.files[0];
    
            if (mediaFile) {
                // Manejar archivos multimedia con Fetch API
                const formData = new FormData();
                formData.append('content', content);
                formData.append('media', mediaFile);
                const csrfToken = document.querySelector('input[name="csrf_token"]').value;
    
                fetch('/clients/send_message', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        // El mensaje se ha enviado correctamente
                        document.getElementById('messageInput').value = '';
                        mediaInput.value = '';
                    } else {
                        alert(data.error);
                    }
                })
                .catch(err => {
                    console.error('Error:', err);
                });
            } else if (content) {
                // Enviar mensaje de texto vía SocketIO
                socket.emit('send_message', {
                    'sender_type': 'client',
                    'sender_id': {{ client.id }},
                    'content': content
                });
    
                // Añadir el mensaje al chat
                const chatBox = document.getElementById('chat-box');
                chatBox.innerHTML += `
                    <div class="chat-message client">
                        <strong>Tú:</strong>
                        <p>${content}</p>
                    </div>`;
    
                document.getElementById('messageInput').value = '';
            }
        });
    
        // Recibir mensajes en tiempo real
        socket.on('receive_message', function(data) {
            const chatBox = document.getElementById('chat-box');
        
            if (data.receiver_id == {{ client.id }} || data.receiver_id == null) {
                let mediaContent = '';
                if (data.media) {
                    const mediaUrl = '/static/uploads/' + data.media;
                    if (data.media.match(/\.(jpeg|jpg|gif|png|heic|heif)$/i)) {
                        mediaContent = `<img src="${mediaUrl}" alt="Media" class="media-preview">`;
                    } else if (data.media.match(/\.(mp4|mov|avi|ogg)$/i)) {
                        mediaContent = `<video controls class="media-preview">
                                            <source src="${mediaUrl}" type="video/mp4">
                                            Tu navegador no soporta la reproducción de video.
                                        </video>`;
                    }
                }
        
                chatBox.innerHTML += `
                    <div class="chat-message ${data.sender_type}">
                        <strong>${data.sender_type === 'admin' ? 'Administrador' : 'Tú'}:</strong>
                        <p>${data.content || ''}</p>
                        ${mediaContent}
                    </div>`;
            }
        });
        
    
        // Limpiar chat
        document.getElementById('clear-chat-button').addEventListener('click', function() {
            fetch('/clients/clear_chat', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' }
            }).then(() => {
                document.getElementById('chat-box').innerHTML = '';
                alert('Chat limpiado.');
            });
        });
    
        socket.on('chat_cleared', function() {
            document.getElementById('chat-box').innerHTML = '';
        });

    </script>
</body>
</html>
